.bienvenue{
    h2{
        background:none;
        color:red;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: white;
        font-size:45px;
    }
    p{
        font-family: "Cabin", sans-serif;
        color:white;
        text-align:justify;
        margin-left:10px;
        margin-right:10px;
    }
}