.competences{ 
    ul{
        font-family: "Viga", sans-serif;
        font-size:21px;
        text-align: center;
        li{
            list-style:none;
            color:white;
        }
    }
}
.reseau{
    li{
        font-family: "Viga", sans-serif;
        display:flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        color:white;
        font-size:25px;
        img{
            width:25%;
            display:block;
            margin:auto;
        }
    }
}
.atouts{
    font-family: "Viga", sans-serif;
    color:white;
    font-size:25px;
    text-align: center;
}
.langues{
    font-family: "Viga", sans-serif;
    color:white;
    font-size:25px;
    text-align: center;
}