#competences{ 
    margin-bottom:40px;
    ul{
        font-family: "Viga", sans-serif;
        font-size:21px;
        text-align: center;
        li{
            list-style:none;
            color:white;
        }
    }
}
.reseau{
    ul{
        display:flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: "Viga", sans-serif;
        text-align:center;
        color:white;
        li{
            list-style: none;
            padding-top:20px;
            img{
                width:95px;
            }
        }
    }
}
.atouts{
    font-family: "Viga", sans-serif;
    color:white;
    font-size:25px;
    text-align: center;
}
.langues{
    font-family: "Viga", sans-serif;
    color:white;
    font-size:25px;
    text-align: center;
    margin-bottom:25px;
}
@media screen and (min-width:772px){
    #competences{
        
        ul{
            font-size:28px;
        }
    }
    .atouts{
        ul{
            font-size:30px;
        }
    }
    .reseau{
        ul{
            display:flex; 
            flex-wrap: wrap;
            justify-content: space-around;
            font-family: "Viga", sans-serif;
            li{
                padding-top:20px;
                img{
                    width:130px;
                }
            }
        }
    }
}
@media screen and (min-width:992px){
    .reseau{
        ul{
            display:flex; 
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                img{
                    width:100px;
                }
            }
        }
    }
}
