.diapo{
    margin-top:5px;
    margin-bottom: 5px;
    overflow-y: scroll;
    ::-webkit-scrollbar{
        display:none;
    }
    -ms-overflow-style:none;
    scrollbar-width: none;
    ul{
        display:flex;
        gap:5px;
        li{
            list-style:none;
            img{
                width:300px;
            }
        }
    }
}
@media screen and (min-width:772px){
    .diapo{
        margin-top:5px;
        margin-bottom: 5px;
        margin-left:5px;
        overflow-y:none;
        ul{
            li{
                img{
                    width:190px;
                }
            }
        }
    }
}
@media screen and (min-width:992px){
    .diapo{
        margin-left:200px;
        ul{
            li{
                list-style:none;
                img{
                    width:250px;
                }
            }
        }
    }
}