footer{
    background: rgb(255,0,0);
    background: linear-gradient(150deg, rgba(255,0,0,1) 0%, rgba(150,0,0,1) 33%, rgba(186,0,0,1) 100%) fixed; 
    padding:5px;
    margin-top:10px;
}
@media screen and (min-width:772px){
    footer{
        margin-top:35px;
    }
}
@media screen and (min-width:992px){
    footer{
        margin-top:20px;
    }
}
