header{
    margin-top:25px;
    background: rgb(255,0,0);
    background: linear-gradient(150deg, rgba(255,0,0,1) 0%, rgba(150,0,0,1) 33%, rgba(186,0,0,1) 100%) fixed; 
    display:flex;
    position:relative;
    img{
        width:60px;
        display:block;
        margin:auto;
    }
    .menu{
        width:50px;
        position:absolute;
        left:350px;
        top:15px;

    }
}
@media screen and (min-width:772px){
    header{
        h1{
            font-size:70px;
        }
        h2{
            font-size:55px;
        }
    }
}
