header{
    margin-top:25px;
    background: rgb(255,0,0);
    background: linear-gradient(150deg, rgba(255,0,0,1) 0%, rgba(150,0,0,1) 33%, rgba(186,0,0,1) 100%) fixed; 
    position:relative;
    img{
        width:60px;
        display:block;
        margin:auto;
        position:relative;
    }
    .menu{
        width:50px;
        position:absolute;
        left:350px;
        top:15px;

    }
}
@media screen and (min-width:772px){
    header{
        img{
            width:60px;
            display:block;
            margin:auto;
        }
        .menu{
            width:50px;
            position:absolute;
            left:700px;
            top:15px;
    
        }
    }
}
@media screen and (min-width:992px){
    header{
        margin-top:5px;
        img{
            width:60px;
            display:block;
            margin:auto;
            display:none;
        }
        .menu{
            position:relative
        }
    }
}
