header{
    h1{
        font-family: "Bangers", system-ui;
        text-align:center;
        margin-top:25px;
        font-size:55px;
        color:red;
        -webkit-text-stroke-width: 0.9px;
        -webkit-text-stroke-color: whitesmoke;
    }
    h2{
        text-align:center;
        font-family: "Bangers", system-ui;
        font-size:35px;
        margin-top:25px;
        color:red;
        -webkit-text-stroke-width: 0.9px;
        -webkit-text-stroke-color: whitesmoke;
    }
}