.job{
   margin-left:5px;
   margin-right:5px;
    article{
        margin-top:15px;
        border-bottom: 3px solid red;
        h3{
            font-family: "Viga", sans-serif;
            font-size:25px;
            color:white;
        }
        h5{
            font-family: "Viga", sans-serif;
            font-size:20px;
            color:white;
            margin-bottom:15px;

        }
        p{
            font-family: "Viga", sans-serif;
            font-size:20px;
            margin-bottom:15px;
        }
        h4{
            font-family: "Viga", sans-serif;
            font-size:20px;
            color:aqua; 
            margin-bottom:15px;
        }
    }
}