.job{
   margin-left:5px;
   margin-right:5px;
   margin-bottom:25px;
   h2{
    background:none;
    color:red;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: white;
    font-size:46px;
   }
    article{
        margin-top:15px;
        border-bottom: 3px solid red;
        
        h3{
            font-family: "Viga", sans-serif;
            font-size:25px;
            color:white;
            text-align: center;
        }
        h5{
            font-family: "Viga", sans-serif;
            font-size:20px;
            color:white;
            text-align: center;

        }
        p{
            font-family: "Viga", sans-serif;
            font-size:20px;
            margin-bottom:15px;
            text-align:start;
        }
        h4{
            font-family: "Viga", sans-serif;
            font-size:20px;
            color:aqua; 
            margin-bottom:15px;
        }
        h6{
            font-family: "Viga", sans-serif;
            font-size:20px;
            color:dodgerblue;
            text-align: center;
        }
    }
}
@media screen and (min-width:772px){
    .job{
        article{
            h3{
                font-size:30px;
            }
            h5{
                font-size:25px;
            }
            h4{
                font-size:23px;
            }
            p{
                font-size:22px;
            }
        }
    }
}
@media screen and (min-width:992px){
    
}