.swipe{
    position:absolute;
    .left{
        width:155px;
        top:400px;
        position:absolute;
        left:5px;
        animation: mouvementdoigt 3s infinite;
        @keyframes mouvementdoigt{
           0%{
            left:0px;
            transform: none;
           }
           50%{
            left:250px;
            transform: none;
           }
           80%{
            left:250px; 
           }
           100%{
            right:0px;
            transform:scaleX(-1);
           }
        }
       
    }
    .right{
        position: relative;
        width:55px;
        top:160px;
        left:370px;
    }
}
@media screen and (min-width:772px){
    .swipe{
        position:absolute;
        display:flex;
    
        .left{
            width:55px;
            top:200px;
            position:relative;
            left:5px;
        }
        .right{
            position: relative;
            width:55px;
            top:200px;
            left:695px;
        }
    }
}
@media screen and (min-width:992px){
    .swipe{
        display:none;
    }
}