.navigation{
    background: rgb(255,0,0);
    background: linear-gradient(150deg, rgba(255,0,0,1) 0%, rgba(150,0,0,1) 33%, rgba(186,0,0,1) 100%) fixed;
    display:none;
    width:100%;
    position: relative;
    padding-top:5px;
    padding-bottom: 2px;
    nav{
        font-family: "Bangers", system-ui;
        li{
            text-align: center;
            list-style: none; 
            margin-bottom: 25px;
            a{
                color:white;
                text-decoration:none;
                font-size:35px;
            }
        }
    }
}
.display{
    display:block;
}
@media screen and (min-width:772px){
    
}
@media screen and (min-width:992px){
    .navigation{
        display:block;
        padding-bottom:0px;
        nav{
            ul{
                display:flex;
                justify-content: space-around;
               li{
                padding-bottom:0px;
               }
            }
            a:hover{
                background-color:blue;
                
            }
        }
    }
}