#presentation{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    img{
        width:135px;
        margin-left:2px;;
    }
    p{
        margin-top:40px;
        margin-left:10px;
        margin-right:25px;
        text-align:justify;
        font-size:18px;
    }
}
@media screen and (min-width:772px){
   #presentation{
    p{
        font-size:28px;
    }
    ul{
        font-size:40px;
    }
   }
}
@media screen and (min-width:992px){
    #presentation{
        p{
            text-align:start;
            margin-left:5px;
            margin-right:5px;
        }
    }
}