.presentation{
    p{
        text-align:center;
        font-size:20px;
    }
    ul{
        text-align: center;
        font-family: "Bangers", system-ui;
        color:white;
        font-size:30px;
        li{
            margin-top:5px;
        }
    }
}