#profession{
    margin-bottom:40px;
    h2{
        margin-top:25px
    }
    .job{
        article{
             margin-top:15px;
             border-bottom: 1px solid red;
             h3{
                 font-family: "Viga", sans-serif;
                 font-size:19px;
                 color:white;
                 text-align: center;
             }
             h5{
                 font-family: "Viga", sans-serif;
                 font-size:18px;
                 color:white;
                 text-align: center;
     
             }
             p{
                 font-family: "Viga", sans-serif;
                 font-size:18px;
                 margin-bottom:15px;
                 text-align:start;
             }
             h4{
                 font-family: "Viga", sans-serif;
                 font-size:16px;
                 color:aqua; 
                 margin-bottom:15px;
             }
             h6{
                 font-family: "Viga", sans-serif;
                 font-size:18px;
                 color:dodgerblue;
                 text-align: center;
            }
         }
     }
}
@media screen and (min-width:772px){
         .job{
             article{
                 h3{
                     font-size:30px;
                 }
                 h5{
                     font-size:25px;
                 }
                 h4{
                     font-size:23px;
                 }
                 p{
                     font-size:22px;
                 }
             }
         }
     }
@media screen and (min-width:992px){
}