.projets{
    h2{
        font-size:40px;
        color:whitesmoke;
        -webkit-text-stroke-color: red;
        -webkit-text-stroke-width: 0.5px;
    }
    p{
        color:white;
        font-size:20px;
        text-align:center;
    }
}
@media screen and (min-width:772px){
    .projets{
        h2{
            font-size:40px;
        }
    }
}
@media screen and (min-width:992px){
    .projets{
        p{
            text-align: center;
        }
    }
}