header {
  margin-top: 25px;
  background: rgb(255, 0, 0);
  background: linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(150, 0, 0) 33%, rgb(186, 0, 0) 100%) fixed;
  display: flex;
  position: relative;
}
header img {
  width: 60px;
  display: block;
  margin: auto;
}
header .menu {
  width: 50px;
  position: absolute;
  left: 350px;
  top: 15px;
}

@media screen and (min-width: 772px) {
  header h1 {
    font-size: 70px;
  }
  header h2 {
    font-size: 55px;
  }
}
.navigation {
  background: rgb(255, 0, 0);
  background: linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(150, 0, 0) 33%, rgb(186, 0, 0) 100%) fixed;
  display: none;
  width: 100%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 2px;
}
.navigation nav {
  font-family: "Bangers", system-ui;
}
.navigation nav li {
  text-align: center;
  list-style: none;
  margin-bottom: 25px;
}
.navigation nav li a {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.display {
  display: block;
}

@media screen and (min-width: 992px) {
  .navigation {
    display: block;
  }
  .navigation nav ul {
    display: flex;
    justify-content: space-around;
  }
  .navigation nav a:hover {
    background-color: blue;
  }
}
#presentation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#presentation img {
  width: 135px;
  margin-left: 2px;
}
#presentation p {
  margin-left: 5px;
  margin-right: 20px;
  text-align: justify;
  font-size: 18px;
}

@media screen and (min-width: 772px) {
  #presentation p {
    font-size: 28px;
  }
  #presentation ul {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  #presentation p {
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
  }
}
#competences {
  margin-bottom: 40px;
}
#competences ul {
  font-family: "Viga", sans-serif;
  font-size: 21px;
  text-align: center;
}
#competences ul li {
  list-style: none;
  color: white;
}

.reseau ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Viga", sans-serif;
  text-align: center;
  color: white;
}
.reseau ul li {
  list-style: none;
  padding-top: 20px;
}
.reseau ul li img {
  width: 95px;
}

.atouts {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
}

.langues {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 772px) {
  #competences ul {
    font-size: 28px;
  }
  .atouts ul {
    font-size: 30px;
  }
  .reseau ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Viga", sans-serif;
  }
  .reseau ul li {
    padding-top: 20px;
  }
  .reseau ul li img {
    width: 130px;
  }
}
@media screen and (min-width: 992px) {
  .reseau ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .reseau ul li img {
    width: 100px;
  }
}
#projets h2 {
  font-size: 35px;
  color: whitesmoke;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 0.5px;
}
#projets p {
  color: white;
  font-size: 17px;
  text-align: center;
}

@media screen and (min-width: 772px) {
  .projets h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .projets p {
    text-align: center;
  }
}
.diapo {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.diapo ::-webkit-scrollbar {
  display: none;
}
.diapo ul {
  display: flex;
  gap: 10px;
}
.diapo ul li {
  list-style: none;
}
.diapo ul li img {
  width: 250px;
}

@media screen and (min-width: 772px) {
  .diapo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow-y: none;
  }
  .diapo ul li img {
    width: 190px;
  }
}
@media screen and (min-width: 992px) {
  .diapo {
    margin-left: 200px;
  }
  .diapo ul li {
    list-style: none;
  }
  .diapo ul li img {
    width: 250px;
  }
}
footer {
  background: rgb(255, 0, 0);
  background: linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(150, 0, 0) 33%, rgb(186, 0, 0) 100%) fixed;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 772px) {
  footer {
    margin-top: 35px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    margin-top: 20px;
  }
}
.swipe {
  position: absolute;
}
.swipe .left {
  width: 155px;
  top: 400px;
  position: absolute;
  left: 5px;
  animation: mouvementdoigt 3s infinite;
}
@keyframes mouvementdoigt {
  0% {
    left: 0px;
    transform: none;
  }
  50% {
    left: 250px;
    transform: none;
  }
  80% {
    left: 250px;
  }
  100% {
    right: 0px;
    transform: scaleX(-1);
  }
}
.swipe .right {
  position: relative;
  width: 55px;
  top: 160px;
  left: 370px;
}

@media screen and (min-width: 772px) {
  .swipe {
    position: absolute;
    display: none;
  }
  .swipe .left {
    width: 55px;
    top: 200px;
    position: relative;
    left: 5px;
  }
  .swipe .right {
    position: relative;
    width: 55px;
    top: 200px;
    left: 695px;
  }
}
@media screen and (min-width: 992px) {
  .swipe {
    display: none;
  }
}
#profession {
  margin-bottom: 40px;
}
#profession h2 {
  margin-top: 25px;
}
#profession .job article {
  margin-top: 15px;
  border-bottom: 1px solid red;
}
#profession .job article h3 {
  font-family: "Viga", sans-serif;
  font-size: 19px;
  color: white;
  text-align: center;
}
#profession .job article h5 {
  font-family: "Viga", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
#profession .job article p {
  font-family: "Viga", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: start;
}
#profession .job article h4 {
  font-family: "Viga", sans-serif;
  font-size: 16px;
  color: aqua;
  margin-bottom: 15px;
}
#profession .job article h6 {
  font-family: "Viga", sans-serif;
  font-size: 18px;
  color: dodgerblue;
  text-align: center;
}

@media screen and (min-width: 772px) {
  .job article h3 {
    font-size: 30px;
  }
  .job article h5 {
    font-size: 25px;
  }
  .job article h4 {
    font-size: 23px;
  }
  .job article p {
    font-size: 22px;
  }
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Bangers", system-ui;
  text-align: center;
  margin-top: 25px;
  font-size: 60px;
  color: red;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: whitesmoke;
}

body {
  background: rgb(0, 17, 80);
  background: linear-gradient(153deg, rgb(0, 17, 80) 6%, rgb(2, 0, 55) 26%, rgb(0, 18, 73) 38%, rgb(4, 14, 122) 52%, rgb(0, 6, 66) 63%, rgb(0, 19, 107) 85%, rgb(227, 0, 0) 90%, rgb(0, 2, 50) 97%) no-repeat;
}

img {
  width: 250px;
  display: block;
  margin: auto;
}

p {
  font-family: "Viga", sans-serif;
  text-align: center;
  font-size: 23px;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}

h2 {
  font-family: "Bangers", system-ui;
  text-align: center;
  margin-top: 5px;
  font-size: 45px;
  color: red;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: whitesmoke;
}

#contact {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#contact img {
  width: 135px;
  margin-left: 2px;
}
#contact p {
  margin-left: 5px;
  margin-right: 20px;
  text-align: justify;
  font-size: 18px;
}

@media screen and (min-width: 772px) {
  img {
    width: 290px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
