header h1 {
  font-family: "Bangers", system-ui;
  text-align: center;
  margin-top: 25px;
  font-size: 55px;
  color: red;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: whitesmoke;
}
header h2 {
  text-align: center;
  font-family: "Bangers", system-ui;
  font-size: 35px;
  margin-top: 25px;
  color: red;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: whitesmoke;
}

@media screen and (min-width: 772px) {
  header h1 {
    font-size: 70px;
  }
  header h2 {
    font-size: 55px;
  }
}
.touch {
  margin-top: 25px;
  background: rgb(255, 0, 0);
  background: linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(150, 0, 0) 33%, rgb(186, 0, 0) 100%) fixed;
}
.touch img {
  width: 60px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 772px) {
  .touch {
    padding: 10px;
  }
  .touch img {
    width: 80px;
  }
}
@media screen and (min-width: 992px) {
  .touch img {
    display: none;
  }
}
.navigation {
  background: rgb(255, 0, 0);
  background: linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(150, 0, 0) 33%, rgb(186, 0, 0) 100%) fixed;
  display: none;
  width: 100%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 2px;
}
.navigation nav {
  font-family: "Bangers", system-ui;
}
.navigation nav li {
  text-align: center;
  list-style: none;
  margin-bottom: 25px;
}
.navigation nav li a {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.display {
  display: block;
}

@media screen and (min-width: 992px) {
  .navigation {
    display: block;
  }
  .navigation nav ul {
    display: flex;
    justify-content: space-around;
  }
  .navigation nav a:hover {
    background-color: blue;
  }
}
.presentation p {
  text-align: center;
  font-size: 20px;
}
.presentation ul {
  text-align: center;
  font-family: "Bangers", system-ui;
  color: white;
  font-size: 30px;
}
.presentation ul li {
  margin-top: 5px;
}

@media screen and (min-width: 772px) {
  .presentation p {
    font-size: 28px;
  }
  .presentation ul {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .presentation p {
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.job {
  margin-left: 5px;
  margin-right: 5px;
}
.job article {
  margin-top: 15px;
  border-bottom: 3px solid red;
}
.job article h3 {
  font-family: "Viga", sans-serif;
  font-size: 25px;
  color: white;
}
.job article h5 {
  font-family: "Viga", sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}
.job article p {
  font-family: "Viga", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: start;
}
.job article h4 {
  font-family: "Viga", sans-serif;
  font-size: 20px;
  color: aqua;
  margin-bottom: 15px;
}

@media screen and (min-width: 772px) {
  .job article h3 {
    font-size: 30px;
  }
  .job article h5 {
    font-size: 25px;
  }
  .job article h4 {
    font-size: 23px;
  }
  .job article p {
    font-size: 22px;
  }
}
.competences ul {
  font-family: "Viga", sans-serif;
  font-size: 21px;
  text-align: center;
}
.competences ul li {
  list-style: none;
  color: white;
}

.reseau li {
  font-family: "Viga", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
}
.reseau li img {
  width: 25%;
  display: block;
  margin: auto;
}

.atouts {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
}

.langues {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
}

@media screen and (min-width: 772px) {
  .competences ul {
    font-size: 28px;
  }
  .atouts ul {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .reseau {
    margin-left: 100px;
  }
  .reseau ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .reseau ul li img {
    width: 150px;
  }
}
.projets h2 {
  font-size: 40px;
  color: whitesmoke;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 0.5px;
}
.projets p {
  color: white;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 772px) {
  .projets h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .projets p {
    text-align: center;
  }
}
.diapo {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-y: scroll;
}
.diapo ul {
  display: flex;
  gap: 10px;
}
.diapo ul li {
  list-style: none;
}
.diapo ul li img {
  width: 250px;
}

@media screen and (min-width: 772px) {
  .diapo {
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 992px) {
  .diapo {
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .diapo ul li {
    list-style: none;
  }
  .diapo ul li img {
    width: 300px;
  }
}
footer {
  background: rgb(255, 0, 0);
  background: linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(150, 0, 0) 33%, rgb(186, 0, 0) 100%) fixed;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 772px) {
  footer {
    margin-top: 35px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    margin-top: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 17, 80);
  background: linear-gradient(153deg, rgb(0, 17, 80) 6%, rgb(2, 0, 55) 26%, rgb(0, 18, 73) 38%, rgb(4, 14, 122) 52%, rgb(0, 6, 66) 63%, rgb(0, 19, 107) 85%, rgb(227, 0, 0) 90%, rgb(0, 2, 50) 97%) fixed;
}

img {
  width: 250px;
  display: block;
  margin: auto;
}

p {
  font-family: "Viga", sans-serif;
  text-align: center;
  font-size: 23px;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}

h2 {
  font-family: "Bangers", system-ui;
  text-align: center;
  margin-top: 25px;
  font-size: 55px;
  color: red;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: whitesmoke;
}

@media screen and (min-width: 772px) {
  img {
    width: 290px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
