@use 'header.scss';
@use 'touch.scss';
@use 'navigation.scss';
@use 'presentation.scss';
@use 'job.scss';
 @use 'competences.scss';

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(0,17,80);
    background: linear-gradient(153deg, rgba(0,17,80,1) 6%, rgba(2,0,55,1) 26%, rgba(0,18,73,1) 38%, rgba(4,14,122,1) 52%, rgba(0,6,66,1) 63%, rgba(0,19,107,1) 85%, rgba(227,0,0,1) 90%, rgba(0,2,50,1) 97%) fixed; 
}
img{
    width:250px;
    margin-left:85px;
}
p{
    font-family: "Viga", sans-serif;
    text-align:center;
    font-size:23px;
    color:white;
    margin-left:2px;
    margin-right:2px;
}
h2{
    font-family: "Bangers", system-ui;
        text-align:center;
        margin-top:25px;
        font-size:55px;
        color:red;
        -webkit-text-stroke-width: 0.9px;
        -webkit-text-stroke-color: whitesmoke;
}
