.touch{
    margin-top:25px;
    background: rgb(255,0,0);
    background: linear-gradient(150deg, rgba(255,0,0,1) 0%, rgba(150,0,0,1) 33%, rgba(186,0,0,1) 100%) fixed; 
    img{
        width:60px;
        margin-left:185px;
    }
}